<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mamahome360.mamahomele">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".utils.SendingNotification"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDUmSbzCrMt37QdavPl00t_Bx9jkL04w0Y" />
        <activity android:name=".view.LoginActivity"
            android:theme="@style/AppTheme.NoTitle"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.LogoutActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.MapActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".view.RemarkActivity"
            android:screenOrientation="portrait"/>
        <service android:name=".utils.Location_ForeGround_Service"/>

        <receiver android:name=".utils.ReceiverCall" >
            <intent-filter>
                <action android:name="com.mamahome360.mamahomele" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="62706bd170c268ebef4edb82964f06ca4d2a72ae" />
    </application>

</manifest>